<main class="principal">
  <div class="card">
    <h2 class="center">Formulario de Cadastro de Autor</h2>
    <div>
      <form [formGroup]="cadastroAutorForm">
        <div class="label-input">
          <label for="nome">Nome:</label>
          <input  type="text" name="nome" placeholder="digite aqui o nome do autor" formControlName="nome">
        </div>
        <div class="label-input">
          <label for="biografia">Biografia:</label><br>
          <textarea name="biografia" placeholder="digite aqui a biografia do Autor" cols="50" rows="10"
            formControlName="biografia"></textarea>
        </div>
        <div>
          <input type="button" value="Enviar" (click)="criarAutor()">
        </div>
      </form>
    </div>
  </div>
  <!-- Mensagem ao cadastrar-->
  <div class="success" *ngIf="successCriaAutor != ''">
    {{successCriaAutor}}
  </div>
  <!-- Mensagem de erro ao cadastrar-->
  <div class="error" *ngIf="erroCriaAutor != ''">
    {{erroCriaAutor}}
  </div>
</main>
